@import "tailwindcss";


:root {
  --background: #0E0E10;
  --foreground: #E5E7EB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-fraunces: 'Fraunces', serif;
  --font-figtree: 'Figtree', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-figtree);
}

h1, h2, h3, h4 {
  font-family: var(--font-fraunces);
}
